h1 {
  margin: 1em;
}

h1 span {
  color: #02436a;
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container h2 {
  font-size: 2.1em;
  margin: 1.8em 0;
  text-align: center;
}

.responsive-table {
  width: 100%;
}

tr {
    border-radius: 0.1em;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-header {
    background-color: #02436a;
    color: #ffffff;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    text-align: center;
}

.table-row:hover {
  background-color: #a4c7de;
  box-shadow: 0px 2px 16px 0px rgba(1, 10, 16, 0.15);
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.col-1 {
  flex-basis: 20%;
}

.col-2 {
  flex-basis: 10%;
}

.col-3 {
  flex-basis: 20%;
}

.tableauVide {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: #02436a;
  margin-top: 2em;
  margin-bottom: 2em;
}