.inputPassword {
    position: relative;
    width: 100%;
}

.inputPassword img {
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: absolute;
    top : 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}